{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'halcon/css/bootstrap.min.css' %}">

<meta name="description" content="Visualizacion y descarga de las imágenes y vídeos" />
<meta name="keywords" content="youtube, instagram, thumbs, thumbnails, images, miniaturas, imagenes, descargar, guardar, videos" />
<meta name="author" content="metatags generator">
<meta name="robots" content="index, follow">
<title>itoolsweb.com</title>
<head>

</head>

<div class="row">
	<div ass="col-md-12">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="/">itoolboxpro.com</a>
		</nav>
	</div>
</div>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<body>

<div class="row">
	<div class="col-md-12"  align="center">
		<nav class="navbar navbar-light bg-light">
			<form class="form-inline" action="{% url 'halcon:index' %}" method="POST">
				{% csrf_token %}
				<input class="form-control mr-sm-2" type="textfield" placeholder="Search" aria-label="Box it!" value="{{ url }}" id="url" name="url" onFocus="seltext();" style="float: center">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="float: center">Search</button>
			</form>
		</nav>
	</div>
</div>

<script type="text/javascript">
	function seltext(){
      document.getElementById('url').select();
	}
</script>
<div class="row" id="content">
	<div class="col-md-12">
		{% block content %}{% endblock %}
	</div>
</div>

<script src="{% static 'halcon/js/jquery.min.js' %}"></script>
<script src="{% static 'halcon/js/bootstrap.min.js' %}"></script>
<script src="{% static 'halcon/js/scripts.js' %}"></script>

</body>

